* {
  font-family: "Muli";
}
.proceedButton {
  font-family: "Muli-Bold";
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
  padding-bottom: 10px;
  background-color: #000;
}

.knt__login__container {
  height: 100%;
  width: 273px;
  margin: 0 auto;
  padding: 16px 0px 48px;
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 0px;
  grid-template-areas:
    "d1 d1 d1 d1"
    "d2 d2 d2 d2"
    "d3 d3 d3 d3";
}
.knt__login__d1 {
  grid-area: d1;
  padding-bottom: 24px;
  /* background-color: yellow; */
}
.knt__login__d2 {
  grid-area: d2;
  /* background-color: green; */
}

.knt__login__header {
  border-bottom: solid 1px #e0e0e0;
}
.knt__login__header > div > h1 {
  margin: 0px;
  padding: 24px 0 15px;
  font-size: 20px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #393939;
}
.knt__login__header > div > img {
  width: 156px;
  height: 110px;
}

.knt__login__container h2 {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: center;
  color: #393939;
  margin: 0 0 16px;
}
.knt__login__container p {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: left;
  color: #737373;
}

.knt__login__steps {
  position: relative;
}
.knt__login__steps > div {
  display: flex;
  align-items: center;
  padding-bottom: 33px;
}
.knt__login__steps::before {
  content: "";
  width: 2px;
  height: 109px;
  position: absolute;
  left: 18px;
  background-color: #e0e0e0;
}
.knt__login__steps h3 {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  margin: 0px;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.1px;
  text-align: left;
  display: inline-block;
  color: #393939;
}
.knt__login__steps > div > h5 {
  width: 38px;
  height: 38px;
  margin: 0px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid 6px #cd1517;
  z-index: 2;
  background-color: #fff;
}
.knt__login__steps > div:nth-child(2) > h5 {
  border: solid 6px #1c9cea;
}
.knt__login__steps > div:nth-child(3) > h5 {
  border: solid 6px #efc928;
}
.knt__login__d3 {
  grid-area: d3;
  /* background-color: black; */
  border-radius: 4px;
  padding: 15px 31px 36px;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
}
.knt__login__form {
  text-align: left;
}
.knt__login__form label {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: left;
  color: #393939;
  padding-bottom: 4px;
}
.knt__login__form input,
select {
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: left;
  color: #737373;
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #bdbdbd;
}
.knt__login__form h3 {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: left;
  color: #393939;
}
.knt__login__form .knt__login__upload {
  padding: 5px 0px 0px 35px;
  border: 0px;
  position: relative;
  outline: none;
  width: 100%;
}
.knt__login__form .knt__login__upload::-webkit-file-upload-button {
  visibility: hidden;
}
.knt__login__form .knt__login__upload::before {
  content: "Upload a file";
  border-radius: 3px;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 5px 8px;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: center;
  color: #ffffff;
  background-color: #000;
}
.knt__login__form h4 {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: left;
  color: #393939;
}

.knt__login__homeaddress {
  position: relative;
}
.knt__login__homeaddress .knt__login__homeaddress--check {
  position: absolute;
  opacity: 0;
  z-index: 1;
  left: -15px;
  top: 30px;
  width: 10px;
  cursor: pointer;
}
.homeaddress__checkmark {
  position: absolute;
  top: 36px;
  left: -18px;
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 2px;
  border: 0.5px solid #000;
}
.knt__login__homeaddress
  .knt__login__homeaddress--check:checked
  ~ .homeaddress__checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.homeaddress__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.knt__login__homeaddress
  .knt__login__homeaddress--check:checked
  ~ .homeaddress__checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.knt__login__homeaddress .homeaddress__checkmark:after {
  left: 3px;
  top: -1px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* The tandc */
.knt__login__form .tandc {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: left;
  color: #737373;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.tandc input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  display: none;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 4px;
  left: -18px;
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 2px;
  border: 0.5px solid #000;
}

/* When the checkbox is checked, add a blue background */
.tandc input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.tandc input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.tandc .checkmark:after {
  left: 3px;
  top: -1px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.knt__login__form button {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  padding: 6px;
  width: 100%;
  background-color: #1c9cea;
  outline: none;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.1px;
  text-align: center;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .knt__login__header > div {
    display: flex;
    width: 700px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }
  .knt__login__header > div > h1 {
    font-size: 24px;
  }
  .knt__login__header > div > img {
    width: 132px;
    height: 93px;
    margin-left: 88px;
  }
  .knt__login__container {
    height: 100%;
    width: 700px;
    margin: 0 auto;
    padding: 64px 0px 56px;
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 0px 60px;
    grid-template-areas:
      "d1 d1 d2 d2"
      "d3 d3 d3 d3"
      "d3 d3 d3 d3";
  }
  .knt__login__container h2 {
    text-align: left;
  }
  .knt__login__container p {
    line-height: 1.58;
  }
  .knt__login__d1 {
    grid-area: d1;
  }
  .knt__login__d2 {
    grid-area: d2;
  }
  .knt__login__d3 {
    grid-area: d3;
    padding: 40px 60px 48px;
  }
  .knt__login__form > div > div {
    display: flex;
    justify-content: space-between;
  }
  .knt__login__form .phone__number {
    display: flex;
    justify-content: space-between;
  }
  .knt__login__form .phone__number > div {
    display: block;
  }
  .knt__login__form label {
    display: block;
    font-size: 14px;
  }
  .knt__login__form input,
  select {
    font-size: 12px;
    width: 280px;
  }
  .knt__login__form h3 {
    font-size: 14px;
  }
  .knt__login__form h4 {
    font-size: 14px;
    margin-top: 36px;
  }
  .knt__login__form button {
    display: block;
    width: 280px;
  }
}
@media only screen and (min-width: 1024px) {
  .knt__login__header > div {
    width: 800px;
  }
  .knt__login__header > div > h1 {
    font-size: 31px;
    font-weight: 600;
    letter-spacing: 0.2px;
  }
  .knt__login__container {
    height: 100%;
    width: 800px;
    margin: 0 auto;
    padding: 64px 0px 56px;
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 0px 60px;
    grid-template-areas:
      "d1 d1 d3 d3"
      "d2 d2 d3 d3"
      "d2 d2 d3 d3";
  }
  .knt__login__container h2 {
    margin: 0 0 12px;
  }
  .knt__login__container p {
    font-size: 14px;
  }
  .knt__login__d1 {
    padding-bottom: 0px;
    grid-area: d1;
  }
  .knt__login__d2 {
    grid-area: d2;
    margin-top: 30px;
  }
  .knt__login__d3 {
    grid-area: d3;
    padding: 40px 40px 48px;
    height: 74%;
  }
  .knt__login__form input,
  select {
    font-size: 12px;
    width: 170px;
  }
  .knt__login__form > input {
    width: 100%;
  }
  .knt__login__form {
    width: 362px;
  }
  .knt__login__form button {
    width: 100%;
  }
}
