<div class="container">
  <button id="madeorderpopup" style="display:none" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1">Open Modal</button>
  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>Your Request has been Succesfully sent,
               we will get back to you shortly.</p>
         <button type="button" class="btn btn-primary">Ok</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>