<div class="container">
  <h2 class="text-left">View Bill Details</h2>
  <div class="panel-group">


    <div class="panel panel-primary">
      <div class="panel-heading  text-left panel-head">Customer Deatails</div>
      <div class="panel-body ">
        <div class="row customer-head">
          <div class="col-xs-3">
            <div class="title">
              Customer Name
            </div>
            <div class="data">Co-optex</div>
          </div>
          <div class="col-xs-3">
            <div class="title">
              Mobile Number
            </div>
            <div class="data">98988787787</div>

          </div>
          <div class="col-xs-3">
            <div class="title">
              Gender
            </div>
            <div class="data">Male</div>

          </div>
          <div class="col-xs-3">
            <div class="title">
              Date of Birth
            </div>
            <div class="data">30-7-1993</div>

          </div>
          <div class="col-xs-3">
            <div class="title">
              Date of Anniversary
            </div>
            <div class="data">30-7-1993</div>

          </div>
          <div class="col-xs-3">
            <div class="title">
              Email Id
            </div>
            <div class="data">cooptex@gmail.com</div>

          </div>


        </div>
      </div>
    </div>


  </div>


  <div class="panel-group">


    <div class="panel panel-primary">
      <div class="panel-heading  text-left panel-head">Bill Details</div>
      <div class="panel-body ">
        <div class="row customer-head">
          <div class="col-xs-3">
            <div class="title">
              Bill Number
            </div>
            <div class="data">SIMAY18</div>
          </div>
          <div class="col-xs-3">
            <div class="title">
              Bill Date
            </div>
            <div class="data">16-8-1993</div>

          </div>
          <div class="col-xs-3">
            <div class="title">
              Total Bill Amount
            </div>
            <div class="data">400</div>

          </div>
          <div class="col-xs-3">
            <div class="title">
              Sales Type
            </div>
            <div class="data">CASH</div>

          </div>




        </div>
      </div>
    </div>


  </div>


  <div class="panel-group">


    <div class="panel panel-primary">
      <div class="panel-heading  text-left panel-head">Bill Details</div>
      <div class="panel-body ">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Product Variety code</th>
                <th>QR CODE</th>
                <th>HSN CODE</th>
                <th>UOM</th>
                <th>UNIT</th>
                <th>Unit Rate</th>
                <th>Total Amount</th>
                <th>Discount(%)</th>
                <th>Discount</th>
                <th>Rebate</th>
                <th>Balance Amount</th>
                <th>Tax(%)</th>
                <th>Tax</th>
                <th>Net Total</th>





              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Annadgfdgdgdgdgdgdgdgdgdgd</td>
                <td>Pitt</td>
                <td>35</td>
                <td>New York</td>
                <td>USA</td>
                <td>1</td>
                <td>Annadgfdgdgdgdgdgdgdgdgdgd</td>
                <td>Pitt</td>
                <td>35</td>
                <td>New York</td>
                <td>USA</td>
                <td>Pitt</td>
                <td>35</td>
                <td>New York</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


  </div>

  <div class="row">
    <div class="total text-left col-xs-6 col-sm-4">Total Number of Items</div>
    <div class="data col-xs-12">1</div>
  </div>
  <div class="row summary-container">
    <div class="summary-title text-left">Summary Details</div>
    <div class="  col-sm-4 summary-wrapper">
      <div class="summary text-left">Tax Summary</div>

      <div class="border">
        <div class="tax-info text-left">
          <span>Tax</span>
          <span class="pull-right">(%)&nbsp;&nbsp;594</span>
        </div>
        <div class="tax-info text-left">
          <span>CGST</span>
          <span class="pull-right">(%)&nbsp;&nbsp;594</span>
        </div>
        <div class="tax-info text-left">
          <span>SGST</span>
          <span class="pull-right">(%)&nbsp;&nbsp;594</span>
        </div>
      </div>
    </div>
    <div class="col-sm-4 summary-wrapper">
      <div class="summary text-left">Payment Summary</div>
      <div class="border">
        <div class="tax-info text-left">
          <span>Cash</span>
          <span class="pull-right">368.00</span>
        </div>
        <div class="tax-info text-left">
          <span>Card</span>
          <span class="pull-right">0.0</span>
        </div>
        <div class="tax-info text-left">
          <span>KNT</span>
          <span class="pull-right">0.0</span>
        </div>
        <div class="tax-info text-left">
          <span>Credit</span>
          <span class="pull-right">0.0</span>
        </div>
      </div>
    </div>
  </div>
</div>
