<div class="modal" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="header-log">Login</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeBtn (click)="clearField()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="login()" #heroForm="ngForm">
          <div class="alert alert-danger alert-dismissible login-error" role="alert" *ngIf="loginError">
            {{errorMessage}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>


          <div class="form-group">
            <label class="credential-label" for="exampleInputEmail1">Email ID / Mobile Number</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" [(ngModel)]="email" aria-describedby="emailHelp"
              placeholder="Enter email / mobile number">
          </div>
          <div class="form-group">
            <label class="credential-label" for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" [(ngModel)]="password" placeholder="Password">
          </div>
          <div class="forgot-password">
            <a href="javascript:;" data-toggle="modal" data-target="#myModal3" (click)="closeLogin()">Forgot Password?</a>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <div class="sign-up">
          <span>New to Co-Optex?</span>
          <span>&nbsp;
            <a href="javascript:;" data-toggle="modal" data-target="#myModal2" (click)="closeLogin()">Sign Up</a>
          </span>
        </div>

      </div>
    </div>
  </div>
</div>