<div class="wishlistRow">
  <div *ngIf="wishlist.length==0">
    <div>WISHLIST EMPTY</div>
    <button class="btn btn-primary continueButton1" type="button" (click)="gotoProduct()">Continue Shopping</button>
  </div>
  <div *ngIf="wishlist.length>0">
    <h1>My Wishlist</h1>
    <div class="tabletTab">
      <span class="tabletTab tabletTab1">Product</span>
      <span class="tabletTab tabletTab2">Price</span>
      <hr/>
    </div>

    <div class="row wishlistDetail" *ngFor="let myWishlist of wishlist">
      <div class="deleteWish">
        <img src="./assets/bin.svg" (click)="deleteWishlist(myWishlist.productId)" />
      </div>
      <div class="col-xs-5 col-sm-2 pad wishlistImg" (click)="productDetail(myWishlist.productId)">
        <img class="wishlistImag" src="{{myWishlist?.largeImages[0]}}" />
      </div>
      <div class="col-xs-7 col-sm-10 pad wishlistContent">

        <div class="wishlistContentDetail">
          <h2>{{myWishlist.productName}}</h2>
          <span class="wishlistRating">Rating</span>
          <span>
            <rating [(ngModel)]="myWishlist.customerRating" [max]="max" [readonly]="isReadonly"></rating>
          </span>
          <span class="wishlistRating wishlistStarCount">({{myWishlist.customerRating | number : '1.0-0'}}.0)</span>

          <div class="wishlistContentDetail1">
            <span class="cardAmount"> {{myWishlist.oldPrice | currConvert : currencyRate}}</span>
            <button type="button" class="btn btn-default">{{myWishlist.discount}}% OFF</button>
          </div>
        </div>
        <div class="wishlistPrice">
          <h2 class="price">Price</h2>
          <h3> {{myWishlist.newPrice | currConvert : currencyRate}}</h3>
        </div>
      </div>
      <hr/>
    </div>
  </div>
</div>
