.reset-page-header {
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
}
.login {
    float: right;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    width: 100px;
    display: none;
}
.reset-password-header {
    font-weight: bold;
    padding-top: 20px;
    font-size: 20px;
    padding-bottom: 0;
}
.reset-password {
    padding: 20px;
}
.reset-password label {
    float: left;
}
.reset-password .form-group {
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
}
.reset-password button {
    background-color: #0086EB;
    border-color: #0086EB;
    width: 300px;
    margin-top: 20px;
}
.caution {
    text-align: left;
    color: #c41b1f;
    margin-top: 10px;
    font-weight: bold;
}