<div class="">
  <button type="button" class="sizechartButton" data-toggle="modal" data-target="#myModal5">Size Chart</button>
  <div class="modal fade" id="myModal5" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
           <p>Size Chart</p>
        </div>
        <div class="modal-body">

          <img src="../../assets/registration/screen-shot-2018-04-09-at-8-29-28-pm@2x.png"/>
        </div>
      </div>

    </div>
  </div>

</div>
